@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.skill {
  background: rgba(255,255,255,0.15);
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgba(255,255,255,0.2);
}